/* Styles for Mobile Site */

/* Header & Hero */
header {
    text-align: center;
    padding: 20px;
}

#hero {
    margin-top: 20px;
    background-color: #d989c5; 
    padding: 20px;
    border: 2px solid hotpink; /* Add border with hot pink color */
}

#hero img {
    max-width: 50%;
}

#hero p {
    font-family: 'Open Sans', sans-serif; 
    font-size: 24px;
}

/* Projects */
#projects {
    padding: 20px;
    background-color: #e389e8;
}

#projects h2 {
    font-family: 'Montserrat', sans-serif;
    color: #333;
    margin-bottom: 20px;
}

.project {
    display: flex;
    margin-bottom: 20px;
}

.project img {
    width: 100px; /* Set width to 100 pixels */
    height: 100px; /* Set height to 100 pixels */
    margin-right: 20px;
}

.project .description {
    flex: 1;
}

.project h3 {
    font-family: 'Montserrat', sans-serif;
    color: #333;
    margin-bottom: 10px;
}

.project p {
    font-family: 'Montserrat', sans-serif;
    color: #666;
}

/* Reviews */
#reviews {
    padding: 20px;
    background-color: #f9f9f9;
}

#reviews h2 {
    font-family: 'Montserrat', sans-serif;
    color: #333;
    margin-bottom: 20px;
}

.review {
    padding: 30px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.review .name {
    font-family: 'Montserrat', sans-serif;
    color: #333;
    font-weight: bold;
    margin-bottom: 5px;
}

.review .title {
    font-family: 'Montserrat', sans-serif;
    color: #666;
    margin-bottom: 5px;
}

.review .rating {
    font-family: 'Montserrat', sans-serif;
    color: #333;
    font-weight: bold;
    margin-bottom: 5px;
}

.review .content {
    font-family: 'Montserrat', sans-serif;
    color: #666;
}

/* Footer */
footer {
    text-align: center;
    padding: 20px;
    background-color: #333;
    color: #fff;
}

/* Media state for Desktop site */
@media (min-width: 1000px) {
    /* Header & Hero */
    header {
        padding: 40px;
    }

    #hero {
        margin-top: 40px;
    }

    #hero p {
        font-size: 32px;
    }

    /* Projects */
    #projects {
        padding: 40px;
    }

    .project img {
        width: 100px; /* Set width to 100 pixels */
        height: 100px; /* Set height to 100 pixels */
    }

    /* Reviews */
    #reviews {
        padding: 40px;
    }

    .review {
        padding: 40px;
    }

    /* Footer */
    footer {
        padding: 40px;
    }
}