/* Styles for Mobile Site */

/* Body */
body {
    background-color: #ecf0f1; /* Light gray */
}

/* Header & Hero */
header {
    background-color: #2c3e50; /* Dark blue */
    color: #ffffff;
    text-align: center;
    padding: 20px;
    font-family: 'Roboto', sans-serif;
}

#hero img {
    width: 100%;
    height: auto;
}

#hero p {
    color: #ffffff;
    font-size: 20px;
}

/* Projects */
.project {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.project img {
    width: 100%;
    height: auto;
    margin-bottom: 10px;
}

/* Reviews */
.review {
    border: none;
    background-color: #ffffff;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.review .name {
    color: #34495e; /* Darker blue */
    font-weight: bold;
    margin-bottom: 5px;
}

.review .title {
    color: #7f8c8d; /* Gray */
    font-style: italic;
    margin-bottom: 10px;
}

.review .rating {
    color: #e67e22; /* Orange */
    font-weight: bold;
    margin-bottom: 10px;
}

.review .content {
    color: #333333;
}

/* Footer */
footer {
    background-color: #2c3e50; /* Dark blue */
    color: #ffffff;
    text-align: center;
    padding: 10px;
    font-family: 'Open Sans', sans-serif;
}

/* Media state for Desktop site */
@media (min-width: 1000px) {

    /* Header & Hero */
    header {
        padding: 40px;
    }

    #hero p {
        font-size: 24px;
    }

    /* Projects */
    .project {
        flex-direction: row;
    }

    .project img {
        flex: 0 0 200px;
        margin-right: 20px;
    }

    /* Reviews */
    .review {
        padding: 30px;
    }

    /* Footer */
    footer {
        padding: 20px;
    }
}